<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.turkfyp.tarcomm2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDRSuYdn9yoCACUGxd4qGkgl59276mWvcs" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".activity.MapActivity" />
        <activity
            android:name=".activity.MarketplaceActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.turkfyp.tarcomm2.MarketplaceActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EventActivity"
            android:label="@string/title_activity_event"
            android:theme="@style/AppTheme" />
        <!-- <activity_main android:name=".activity_main.FragmentEventTab1" /> -->
        <activity
            android:name=".activity.LostAndFoundActivity"
            android:label="@string/title_activity_lost_and_found"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.EventDetailsActivity"
            android:label="@string/title_activity_event_details"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.MarketplaceDetailActivity"
            android:label="@string/title_activity_marketplace_detail"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.AddLostFoundItemActivity" />
        <activity android:name=".activity.AddMarketItemActivity" />
        <activity android:name=".activity.ViewProfileActivity" />
        <activity android:name=".activity.EditProfileActivity" />
        <activity android:name=".activity.LostFoundDetailActivity" />
        <activity android:name=".activity.EditUploadItemActivity" />
        <activity android:name=".activity.EditLostItemActivity" />
        <activity android:name=".activity.ViewOtherProfileActivity" />
        <activity android:name=".activity.ViewMarketPostActivity" />
        <activity android:name=".activity.ViewOtherMarketPostActivity" />
        <activity android:name=".activity.MapEventActivity" />
        <activity android:name=".activity.FriendListActivity" />
        <activity android:name=".activity.PromotionActivity" />
        <activity android:name=".activity.ViewLostFoundPostActivity" />
        <activity android:name=".activity.ViewOtherLostFoundPostActivity"></activity>
    </application>

</manifest>